<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/formatting.css}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>
<nav th:fragment = "navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#" style="margin-left:650px"> CRYPTO ARTICLE READER</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


</nav>

 <form action="/save" method="post">
     <div style="margin-top:250px; margin-left:600px;">
  <input style="height:35px; width:300px" type="text" placeholder="link">
     </div>
     <button type="button" class="btn btn-success" style="margin-left:700px; margin-top:50px">Success</button>
 </form>

</body>


</html>